@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #0f172a;
  color: white;
}